#exclude all images
*.png
*.jpg
*.jpeg
*.bmp

#exlude all k-code and knitout files
*.kc
*.k

#exclude test files
shape-cropper.js
shape-processor.js
shape-writer.js
.d.ts
COLORS_DATA.json

#exlude .txt
*.txt