#exclude node_modules (so can be installed with npm install)
node_modules/

#exclude all images
*.png
!example-shape.png
# !colorwork.png
# !knit_motif.png
*.jpg
*.jpeg
*.bmp

*.PNG
*.JPG
*.JPEG

#exlude all k-code and knitout files
*.kc
*.k

#exclude test files
test-kcode.js
.d.ts
COLORS_DATA.json
knitify-copy-less.js
knitify-birdseye-visualizer.js
back-comp.js
knitify-copy.js
fixify.js

shapeify-multiple-carriers.js

#exclude test directories
xtra-files/
.vscode/
birdseye-files/
knit-in-files/
backups/
shape-codes/

#exlude .txt files
*.txt

#exclude user-generated prompt-answers (1: don't exlcude parent sub-directory 2: exclude files in parent sub-dir 3 & 4: don't exclude specific files
!/prompt-answers/
# /prompt-answers/*
# prompt-answers/*
# !/prompt-answers/knitify/
prompt-answers/knitify/*
prompt-answers/shapeify/*
!/prompt-answers/knitify/answers.json
!/prompt-answers/shapeify/answers.json

out-colorwork-images/
colorwork.png
knit_motif.png

*-debug.js
*-bug.js

in-stitch-pattern-images/*

!/in-stitch-pattern-images/example.jpg

# COLORWORK:
# grey: d2d2d2
# pink: db6bae
# green: 4df577
# navy: 282a36

# purple: d6abff

# STITCH PATTERNS: (carrier 3: 4df577) 4x4 rib
# 1. red
# 2. green
# 3. #c1c1c1
# 4. #00ffff
# 5. blue

# caston: carrier 3: 4df577